aiobotocore
aiohttp
aioitertools
aiosignal
alembic
altair
annotated-types
anyio
appdirs==1.4.4
arabic-reshaper==3.0.0
argon2-cffi
argon2-cffi-bindings
arrow
asn1crypto==1.5.1
astroid
astropy
astropy-iers-data
asttokens
async-lru
atomicwrites==1.4.0
attrs
Automat
babel
bcrypt
beautifulsoup4
binaryornot
bleach
blinker
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
constantly
contourpy
cryptography==45.0.4
cssselect
cssselect2==0.8.0
cycler
cytoolz
dask
dask-expr
datashader
decorator
defusedxml
diff-match-patch
dill
distributed
distro
dnspython==2.7.0
docutils
email_validator==2.2.0
et-xmlfile
executing
fastjsonschema
filelock
Flask
Flask-JWT-Extended==4.7.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fonttools
frozendict
frozenlist
fsspec
gensim
gitdb
GitPython
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-speech==2.33.0
googleapis-common-protos==1.70.0
greenlet
grpcio==1.73.0
grpcio-status==1.73.0
gunicorn # Add gunicorn explicitly if not already there
h11
h5py
HeapDict
holoviews
html5lib==1.1
httpcore
httpx
hvplot
hyperlink
idna
imagecodecs
imageio
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
keyring
kiwisolver
lazy-object-proxy
lazy_loader
linkify-it-py
llvmlite
lmdb
locket
lxml==6.0.0
lz4
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mdit-py-plugins
mdurl
mistune
more-itertools
mpmath
msgpack
multidict
multipledispatch
nest-asyncio
networkx
nltk
numba
numexpr
numpy==1.26.4
numpydoc
openpyxl
oscrypto==1.3.0
overrides
packaging
pandas==2.2.2
pandocfilters
panel
param
parsel
parso
partd
pathspec
patsy
pillow
pkce
pkginfo
platformdirs
plotly
ply
proto-plus==1.26.1
protobuf==6.31.1
psutil
psycopg2==2.9.10
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycparser
pyct
pydantic
pydantic-settings
pydantic_core
pydeck
PyDispatcher
pyerfa
Pygments
pyHanko==0.29.1
pyhanko-certvalidator==0.27.0
PyJWT
PyNaCl
pyodbc
pyOpenSSL
pyparsing
pypdf==5.7.0
PyPDF2==3.0.1
PySocks
python-bidi==0.6.6
python-dateutil
python-dotenv
python-json-logger
python-slugify
pytz
pyviz_comms
PyWavelets
PyYAML
pyzmq
queuelib
referencing
regex
reportlab==4.4.2
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa==4.9.1
Rtree
ruamel.yaml
ruamel.yaml.clib
s3fs
scikit-image
scikit-learn==1.5.1
scipy==1.13.1
Scrapy
seaborn
semver
Send2Trash
sentry-sdk
service-identity
setuptools==75.1.0 # Keep this, but consider removing version if issues arise
six
smart-open
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
statsmodels
streamlit
svglib==1.5.1
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
tifffile
tinycss2
tldextract
toolz
tornado
traitlets
truststore
Twisted
twisted-iocpsupport
typing_extensions
tzdata
tzlocal==5.3.1
uc-micro-py
ujson
unicodedata2
Unidecode
uritools==5.0.0
urllib3
w3lib
webencodings
websocket-client
Werkzeug
xarray
xhtml2pdf==0.2.17
xlwings
xyzservices
yarl
zict
zipp
zope.interface
zstandard
